tooling/maven/camel-eip-documentation-enricher-maven-plugin/src/test/resources/xmls/complex_type.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://camel.apache.org/schema/spring" elementFormDefault="qualified" targetNamespace="http://camel.apache.org/schema/spring" version="1.0">
  <xs:complexType name="interceptSendToEndpointDefinition">
    <xs:sequence/>
    <xs:attribute name="uri" type="xs:string" use="required"/>
    <xs:attribute name="skipSendToOriginalEndpoint" type="xs:boolean"/>
    <xs:anyAttribute namespace="##other" processContents="skip"/>
  </xs:complexType>
</xs:schema>
