tests/camel-performance/src/test/resources/wsdl/HBRSoapWSDL-consumer-embedded.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EchoWSDL" targetNamespace="http://services.samples/xsd"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.samples/xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		    targetNamespace="http://services.samples/xsd"
		    xmlns:tns="http://services.samples/xsd"
		    elementFormDefault="unqualified">
	    <xsd:complexType name="BuyStocks">
		<xsd:sequence>
		    <xsd:element name="order">
		        <xsd:complexType>
		            <xsd:sequence>
		                <xsd:element name="symbol" type="xsd:string"></xsd:element>
		                <xsd:element name="buyerID" type="xsd:string"></xsd:element>
		                <xsd:element name="price" type="xsd:double"></xsd:element>
		                <xsd:element name="volume" type="xsd:int"></xsd:element>
		            </xsd:sequence>
		        </xsd:complexType>
		    </xsd:element>
		</xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="buyStocks" type="tns:BuyStocks"></xsd:element>
    </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://someuri"
                    xmlns:tns="http://someuri"
                    elementFormDefault="unqualified">
            <xsd:element name="routing" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="EchoOperationRequest">
        <part name="request_header" element="some:routing" xmlns:some="http://someuri"/>
        <part name="parameters" element="tns:buyStocks"/>
    </message>
    <message name="EchoOperationResponse">
        <part name="parameters" element="tns:buyStocks"/>
    </message>
    
    <portType name="buyStocksPortType">
        <operation name="buyStocksOperation">
            <input name="message" message="tns:EchoOperationRequest"/>
            <output name="message" message="tns:EchoOperationResponse"/>
        </operation>
        
        <operation name="buyStocksOperation1K">
            <input name="message1K" message="tns:EchoOperationRequest"/>
            <output name="message1K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="buyStocksOperation5K">
            <input name="message5K" message="tns:EchoOperationRequest"/>
            <output name="message5K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="buyStocksOperation10K">
            <input name="message10K" message="tns:EchoOperationRequest"/>
            <output name="message10K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="buyStocksOperation100K">
            <input name="message100K" message="tns:EchoOperationRequest"/>
            <output name="message100K" message="tns:EchoOperationResponse"/>
        </operation>
        <operation name="buyStocksOperation500K">
            <input name="message500K" message="tns:EchoOperationRequest"/>
            <output name="message500K" message="tns:EchoOperationResponse"/>
        </operation>        
    </portType>
    <binding name="EchoServiceSOAP11Binding" type="tns:buyStocksPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="buyStocksOperation">
            <soap:operation soapAction="urn:buyStocks" style="document"/>
            <input name="message">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal" parts="parameters"/>
            </input>
            <output name="message">
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="buyStocksOperation1K">
            <soap:operation soapAction="urn:buyStocks.2" style="document"/>
            <input name="message1K">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal"/>
            </input>
            <output name="message1K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="buyStocksOperation5K">
            <soap:operation soapAction="urn:buyStocks.5" style="document"/>
            <input name="message5K">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal"/>
            </input>
            <output name="message5K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="buyStocksOperation10K">
            <soap:operation soapAction="urn:buyStocks.10" style="document"/>
            <input name="message10K">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal"/>
            </input>
            <output name="message10K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="buyStocksOperation100K">
            <soap:operation soapAction="urn:buyStocks.100" style="document"/>
            <input name="message100K">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal"/>
            </input>
            <output name="message100K">
                <soap:body use="literal"/>
            </output>
        </operation> 
        <operation name="buyStocksOperation500K">
            <soap:operation soapAction="urn:buyStocks.500" style="document"/>
            <input name="message500K">
                <soap:header use="literal" message="tns:EchoOperationRequest" part="request_header" required="true"/>
                <soap:body use="literal"/>
            </input>
            <output name="message500K">
                <soap:body use="literal"/>
            </output>
        </operation> 
    </binding>
    <service name="CBRSOAPHeaderProxy">
        <port name="CBRSOAPHeaderEchoServicePort" binding="tns:EchoServiceSOAP11Binding">
            <soap:address location="http://localhost:8192/service/CBRSOAPHeaderProxy"/>
        </port>
    </service>
</definitions>

