components/camel-cxf/camel-cxf-spring-soap/src/test/resources/MultiPartTest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://camel.apache.org/cxf/multipart" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="flow"
	xmlns:x1="http://camel.apache.org/cxf/multipart/types"
	targetNamespace="http://camel.apache.org/cxf/multipart">
	<wsdl:types>
        <schema targetNamespace="http://camel.apache.org/cxf/multipart/types" 
        	xmlns="http://www.w3.org/2001/XMLSchema" 
        	xmlns:x1="http://camel.apache.org/cxf/multipart/types" 
        	elementFormDefault="qualified">
            <element name="inE">
                <complexType>
                    <sequence>
                        <element name="v" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
	</wsdl:types>
	<wsdl:message name="inputRequest">
		<wsdl:part name="in" element="x1:inE" />
		<wsdl:part name="in1" element="x1:inE" />
	</wsdl:message>
	<wsdl:message name="inputResponse">
		<wsdl:part name="out" element="x1:inE" />
		<wsdl:part name="out1" element="x1:inE" />
	</wsdl:message>
	
	<wsdl:portType name="MultiPartInvoke">
		<wsdl:operation name="foo">
			<wsdl:input message="tns:inputRequest" />
			<wsdl:output message="tns:inputResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MultiPartInvokeSoapBinding" type="tns:MultiPartInvoke">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="foo">
			<soap:operation soapAction="http://camel.apache.org/cxf/multipart/input" />
			<wsdl:input>
				<soap:header use="literal" part="in" message="tns:inputRequest"/>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="out" message="tns:inputResponse"/>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MultiPartInvokeService">
		<wsdl:port binding="tns:MultiPartInvokeSoapBinding" name="MultiPartInvokePort">
			<soap:address location="http://localhost:9000/SoapContext/SoapPort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
