components/camel-cxf/camel-cxf-spring-soap/src/test/resources/pizza_service.wsdl

<?xml version="1.0" ?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
  <wsdl:definitions
      name="PizzaService"
      targetNamespace="http://camel.apache.org/pizza"
      xmlns:tns="http://camel.apache.org/pizza"
      xmlns:types="http://camel.apache.org/pizza/types"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>
      <xsd:schema targetNamespace="http://camel.apache.org/pizza/types"
                  xmlns:tns="http://camel.apache.org/pizza/types"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  elementFormDefault="qualified"
                  version="1.0">

        <xsd:element name="CallerIDHeader" type="tns:CallerIDHeaderType" />

        <xsd:complexType name="CallerIDHeaderType">
          <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" />
            <xsd:element name="PhoneNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>

        <xsd:element name="OrderRequest" type="tns:OrderPizzaType" />

        <xsd:complexType name="OrderPizzaType">
          <xsd:sequence>
            <xsd:element name="Toppings" type="tns:ToppingsListType" />
          </xsd:sequence>
        </xsd:complexType>

        <xsd:element name="OrderResponse" type="tns:OrderPizzaResponseType" />

        <xsd:complexType name="OrderPizzaResponseType">
          <xsd:sequence>
            <xsd:element name="MinutesUntilReady" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="ToppingsListType">
          <xsd:sequence>
            <xsd:element name="Topping" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:schema>
    </wsdl:types>

    <wsdl:portType name="Pizza">
      <wsdl:operation name="OrderPizza">
        <wsdl:input message="tns:OrderPizzaRequest" />
        <wsdl:output message="tns:OrderPizzaResponse" />
      </wsdl:operation>
    </wsdl:portType>

    <wsdl:message name="CallerIDHeader">
      <wsdl:part name="callerID" element="types:CallerIDHeader"/>
    </wsdl:message>

    <wsdl:message name="OrderPizzaRequest">
      <wsdl:part name="body" element="types:OrderRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderPizzaResponse">
      <wsdl:part name="body" element="types:OrderResponse"/>
    </wsdl:message>

  <wsdl:binding name="PizzaPortBinding" type="tns:Pizza">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="OrderPizza">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:header message="tns:CallerIDHeader" part="callerID" use="literal" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="PizzaService">
    <wsdl:port name="PizzaPort" binding="tns:PizzaPortBinding">
      <soap:address location="http://localhost:9013/pizza_service/services/PizzaService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>