camel-cxf/src/test/resources/wsdl/camel_test_no_addr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements. See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership. The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License. You may obtain a copy of the License at
 
  http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied. See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<definitions name="HelloWorldService" targetNamespace="http://cxf.apache.org/camel_conf_test"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:camel="http://cxf.apache.org/transports/camel"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://cxf.apache.org/camel_conf_test" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="http://cxf.apache.org/camel_conf_test/xsd">
  <message name="greetMe">
    <part name="stringParam0" type="xsd:string"/>
  </message>
  <message name="greetMeResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sayHi"/>
  <message name="sayHiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="greetMeOneWay">
    <part name="stringParam0" type="xsd:string"/>
  </message>

  <portType name="HelloWorldPortType">
    <operation name="greetMe">
      <input message="tns:greetMe" name="greetMe"/>
      <output message="tns:greetMeResponse" name="greetMeResponse"/>
    </operation>
    <operation name="sayHi">
      <input message="tns:sayHi" name="sayHi"/>
      <output message="tns:sayHiResponse" name="sayHiResponse"/>
    </operation>
    <operation name="greetMeOneWay">
      <input message="tns:greetMeOneWay" name="greetMeOneWay"/>
    </operation>
  </portType>

  <binding name="HelloWorldQueueBinMsgBinding" type="tns:HelloWorldPortType">
    <soap:binding style="rpc" transport="http://cxf.apache.org/transports/camel"/>
    <operation name="greetMe">
      <soap:operation soapAction="" style="rpc"/>
      <input name="greetMe">
        <soap:body
                namespace="http://cxf.apache.org/camel_conf_test" use="literal"/>
      </input>
      <output name="greetMeResponse">
        <soap:body
                namespace="http://cxf.apache.org/camel_conf_test" use="literal"/>
      </output>
    </operation>
    <operation name="sayHi">
      <soap:operation soapAction="" style="rpc"/>
      <input name="sayHi">
        <soap:body
                namespace="http://cxf.apache.org/camel_conf_test" use="literal"/>
      </input>
      <output name="sayHiResponse">
        <soap:body
                namespace="http://cxf.apache.org/camel_conf_test" use="literal"/>
      </output>
    </operation>
    <operation name="greetMeOneWay">
      <soap:operation style="rpc"/>
      <input name="greetMeOneWay">
        <soap:body
                namespace="http://cxf.apache.org/camel_conf_test" use="literal"/>
      </input>
    </operation>
  </binding>

  <service name="HelloWorldQueueBinMsgService">
    <port binding="tns:HelloWorldQueueBinMsgBinding" name="HelloWorldQueueBinMsgPort">
    </port>
  </service>
</definitions>


