components/camel-cxf/src/test/resources/person.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at
    
    http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<wsdl:definitions name="wsdl-first"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tns="http://camel.apache.org/wsdl-first"
	xmlns:typens="http://camel.apache.org/wsdl-first/types"
	targetNamespace="http://camel.apache.org/wsdl-first">

	<wsdl:types>
	<xsd:schema targetNamespace="http://camel.apache.org/wsdl-first/types"
	    xmlns="http://www.w3.org/2001/XMLSchema"
	    xmlns:tns="http://camel.apache.org/wsdl-first/types"	    
		elementFormDefault="qualified">
		
		<simpleType name="MyStringType">
			<restriction base="string">
				<maxLength value="30" />
			</restriction>
		</simpleType>


			<xsd:element name="GetPerson">
			  <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personId" type="tns:MyStringType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetPersonResponse">
			  <xsd:complexType>
					<xsd:sequence>
					    <xsd:element name="personId" type="tns:MyStringType"/>
						<xsd:element name="ssn" type="xsd:string"/>
						<xsd:element name="name" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UnknownPersonFault">
			  <xsd:complexType>
					<xsd:sequence>
					    <xsd:element name="personId" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="StringInputElem" type="xsd:string" />
			<xsd:element name="IntegerInputElem" type="xsd:int" />

			<xsd:element name="StringOutputElem" type="xsd:string" />
			<xsd:element name="IntegerOutputElem" type="xsd:int" />
				
		</xsd:schema>
  </wsdl:types>
	
	<wsdl:message name="GetPersonRequest">
		<wsdl:part name="payload" element="typens:GetPerson"/>
	</wsdl:message>
	<wsdl:message name="GetPersonResponse">
		<wsdl:part name="payload" element="typens:GetPersonResponse"/>
	</wsdl:message>
	<wsdl:message name="UnknownPersonFault">
		<wsdl:part name="payload" element="typens:UnknownPersonFault"/>
	</wsdl:message>
	
    <wsdl:message name="GetPersonMultiPartRequest">
		<wsdl:part name="nameIn" element="typens:StringInputElem" />
		<wsdl:part name="ssnIn" element="typens:IntegerInputElem" />
	</wsdl:message>
	<wsdl:message name="GetPersonMultiPartResponse">
		<wsdl:part name="nameOut" element="typens:StringOutputElem" />
		<wsdl:part name="ssnOut" element="typens:IntegerOutputElem" />
	</wsdl:message>

    <wsdl:portType name="Person">
		<wsdl:operation name="GetPerson">
			<wsdl:input message="tns:GetPersonRequest"/>
			<wsdl:output message="tns:GetPersonResponse"/>
			<wsdl:fault name="UnknownPerson" message="tns:UnknownPersonFault"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:portType name="PersonMultiPartPortType">
		<wsdl:operation name="GetPersonMultiPartOperation">
			<wsdl:input message="tns:GetPersonMultiPartRequest" />
			<wsdl:output message="tns:GetPersonMultiPartResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
    <wsdl:binding name="PersonSOAPBinding" type="tns:Person">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPerson">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownPerson">
				<soap:fault use="literal" name="UnknownPerson" />
			</wsdl:fault>
       </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:binding name="PersonSOAPBinding12" type="tns:Person">
      <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document" /> 
      <wsdl:operation name="GetPerson">
          <soap12:operation style="document" soapAction="GetPersonAction"/>		
          <wsdl:input>
              <soap12:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap12:body use="literal" />
          </wsdl:output>
          <wsdl:fault name="UnknownPerson">
              <soap12:fault use="literal" name="UnknownPerson" />
          </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>   
   
   <wsdl:binding name="PersonSOAPBinding2" type="tns:Person">
       <soap:binding style="document" transport="http://cxf.apache.org/transports/camel" />
	   <wsdl:operation name="GetPerson">
           <wsdl:input>
			    <soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownPerson">
				<soap:fault use="literal" name="UnknownPerson" />
			</wsdl:fault>
       </wsdl:operation>
   </wsdl:binding>
   
   <wsdl:binding name="PersonMultiPartSOAPBinding"
		type="tns:PersonMultiPartPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetPersonMultiPartOperation">
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>

		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PersonService">
    	<wsdl:port binding="tns:PersonSOAPBinding" name="soap">
           <soap:address location="http://localhost:8092/PersonService/" />
       </wsdl:port>
       <wsdl:port binding="tns:PersonSOAPBinding" name="soap2">
           <soap:address location="http://localhost:8093/PersonService/" />
       </wsdl:port>
       <wsdl:port binding="tns:PersonSOAPBinding2" name="soap3">
       <soap:address location="camel://direct:camel.apache.org.wsdl-first.PersonService"/>
       </wsdl:port>
   </wsdl:service>
   
   <wsdl:service name="PersonService12">
       <wsdl:port binding="tns:PersonSOAPBinding12" name="soap">
       <soap12:address location="http://localhost:8092/PersonService/" />
       </wsdl:port>
   </wsdl:service>      
   
	<wsdl:service name="PersonMultiPartService">
		<wsdl:port name="PersonMultiPartPort" binding="tns:PersonMultiPartSOAPBinding">
			<soap:address location="http://localhost:9000/PersonMultiPart" />
		</wsdl:port>
	</wsdl:service>   

</wsdl:definitions>
