components/camel-soap/src/test/resources/org/apache/camel/dataformat/soap/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<wsdl:definitions name="CustomerServiceService"
    targetNamespace="http://customerservice.example.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://customerservice.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://customerservice.example.com/" attributeFormDefault="unqualified"
            elementFormDefault="unqualified" targetNamespace="http://customerservice.example.com/">
            <xs:element name="getCustomersByName" type="tns:getCustomersByName" />
            <xs:element name="getCustomersByNameResponse" type="tns:getCustomersByNameResponse" />
            <xs:complexType name="getCustomersByName">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCustomersByNameResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return"
                        type="tns:customer" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string" />
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="address"
                        nillable="true" type="xs:string" />
                    <xs:element name="numOrders" type="xs:int" />
                    <xs:element name="revenue" type="xs:double" />
                    <xs:element minOccurs="0" name="test" type="xs:decimal" />
                    <xs:element minOccurs="0" name="birthDate" type="xs:dateTime" />
                    <xs:element minOccurs="0" name="type" type="tns:customerType" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="customerType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PRIVATE" />
                    <xs:enumeration value="BUSINESS" />
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="NoSuchCustomer" type="tns:NoSuchCustomer" />
            <xs:complexType name="NoSuchCustomer">
                <xs:sequence>
                    <xs:element name="customerId" nillable="true" type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAllCustomers">
            </xs:element>
            <xs:element name="getAllCustomersResponse" type="tns:getAllCustomersResponse">
            </xs:element>

            <xs:complexType name="getAllCustomersResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:customer" maxOccurs="unbounded"
                        minOccurs="0"></xs:element>
                </xs:sequence>
            </xs:complexType>
            
            <xs:element name="getAllAmericanCustomers">
            </xs:element>
            <xs:element name="getAllAmericanCustomersResponse" type="tns:getAllAmericanCustomersResponse">
            </xs:element>

            <xs:complexType name="getAllAmericanCustomersResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:customer" maxOccurs="unbounded"
                        minOccurs="0"></xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="saveCustomer" type="tns:saveCustomer">
            </xs:element>
            <xs:complexType name="saveCustomer">
                <xs:sequence>
                    <xs:element name="customer" type="tns:customer"></xs:element>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCustomersByNameResponse">
        <wsdl:part name="parameters" element="tns:getCustomersByNameResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCustomersByName">
        <wsdl:part name="parameters" element="tns:getCustomersByName">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="NoSuchCustomerException">
        <wsdl:part name="NoSuchCustomerException" element="tns:NoSuchCustomer">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllCustomers">
    </wsdl:message>
    <wsdl:message name="getAllCustomersResponse">
        <wsdl:part name="parameters" element="tns:getAllCustomersResponse"></wsdl:part>
    </wsdl:message>   
	<wsdl:message name="getAllAmericanCustomers">
    </wsdl:message>
    <wsdl:message name="getAllAmericanCustomersResponse">
        <wsdl:part name="parameters" element="tns:getAllAmericanCustomersResponse"></wsdl:part>
    </wsdl:message>   
    <wsdl:message name="saveCustomerRequest">
        <wsdl:part name="parameters" element="tns:saveCustomer"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="saveCustomerResponse">
    </wsdl:message>
    <wsdl:portType name="CustomerService">
        <wsdl:operation name="getCustomersByName">
            <wsdl:input name="getCustomersByName" message="tns:getCustomersByName">
            </wsdl:input>
            <wsdl:output name="getCustomersByNameResponse" message="tns:getCustomersByNameResponse">
            </wsdl:output>
            <wsdl:fault name="NoSuchCustomerException" message="tns:NoSuchCustomerException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomers">
            <wsdl:input message="tns:getAllCustomers"></wsdl:input>
            <wsdl:output message="tns:getAllCustomersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAmericanCustomers">
            <wsdl:input message="tns:getAllAmericanCustomers"></wsdl:input>
            <wsdl:output message="tns:getAllAmericanCustomersResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveCustomer">
            <wsdl:input message="tns:saveCustomerRequest"></wsdl:input>
            <wsdl:output message="tns:saveCustomerResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerServiceServiceSoapBinding"
        type="tns:CustomerService">

        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCustomersByName">

            <soap:operation
                soapAction="http://customerservice.example.com/getCustomersByName" />
            <wsdl:input name="getCustomersByName">

                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCustomersByNameResponse">

                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="NoSuchCustomerException">

                <soap:fault use="literal" name="NoSuchCustomerException" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllCustomers">
            <soap:operation soapAction="http://customerservice.example.com/getAllCustomers" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAmericanCustomers">
            <soap:operation soapAction="http://customerservice.example.com/getAllAmericanCustomers" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="saveCustomer">
            <soap:operation soapAction="http://customerservice.example.com/saveCustomer" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerServiceService">
        <wsdl:port name="CustomerServicePort" binding="tns:CustomerServiceServiceSoapBinding">
            <soap:address location="http://localhost:9090/CustomerServicePort" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

